body{
    background-color: black;
    margin:0;
}


/*Présentation*/
#s0 {
    background-color: black;
} 

#s0 img{
    max-width: 100%;
    content: cover;
}

#s0 h2{
    text-align: center;
    color: white;   
}

#s0 p{
  
    top: 500px;
    max-width: calc(100%/3);
    margin: 0 auto;
    background-color:rgba(0,0,0,0.3);
    color: white;
}

.content{
    position: relative;
    top:-1221px;
}

#s3 {
    display:none;
}
/*Présentation*/
/*Main*/

    /* Div contenant le Calendrier */
        #calendrier{
            display: flex;
            padding-left: 60px;
            padding-right: 60px;
        }
            #calendrier img{
                margin-left: auto;
                margin-right: auto;
            }

        /*Colone Liste dates*/
            #sideDates{
                position: relative;
                top :70px;
                height: 747px;
                margin-left: 60px;
                background-color: grey;
            }

                #sideDates h3{
                    text-align: center;
                }

                #sideDates ul li{
                    text-align: center;
                }
        /*Colone Liste dates*/

    /* Div contenant le Calendrier */

/*Main*/

/*Footer*/
footer p{
    text-align: center;
}
/*Footer*/