body{
    background-image: url("../img/background.jpg");
    background-color: black;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    
}

/*Titres*/
h2{
    text-align: center;
}
/*Présentation*/


}
#s0 p{
    background-color: ;
    text-align: center;
}


/*Présentation*/
/*Main*/

    /* Div contenant le Calendrier */
        #calendrier{
            display: flex;
            padding-left: 60px;
            padding-right: 60px;
        }
            #calendrier img{
                margin-left: auto;
                margin-right: auto;
            }

        /*Colone Liste dates*/
            #sideDates{
                position: relative;
                top :70px;
                height: 747px;
                margin-left: 60px;
                background-color: grey;
            }

                #sideDates h3{
                    text-align: center;
                }

                #sideDates ul li{
                    text-align: center;
                }
        /*Colone Liste dates*/

    /* Div contenant le Calendrier */

/*Main*/

/*Footer*/
footer p{
    text-align: center;
}
/*Footer*/