body{
    background-color: black;
    margin:0;

}
#backgroundImg{
    margin-top: 150px;
    max-width: 100%;
    content: cover;}

/*Présentation*/

#s0 h2{
    text-align: center;
    color: white;   
}

#s0 p{
    
    background-color:rgba(0, 0, 0, 0.137);
    color: white;
    text-align: center;
}

.content{
    position: absolute;
    top: 140px;
    max-width: calc(100%/3);
    right: calc(100%/3);
}

/*Présentation*/
/*Main*/

/* Div contenant les dates de concerts */
#listeConcerts{
    background-color: #181616;
    color: white;
    text-align: center;
    padding: 15px;
    margin-bottom: 5px;
    border-radius: 5px;
}

table{
    width: 100%;
}

.listDate tr{
    width:100%;
    display: flex;
    flex-direction: row;
}

.listDate tr td{
    width: calc(100%/5);
}
.adresses{
    width: calc((100%/5)*2) !important;
}

#titres td{
    font-size: large;
    font-weight: bold;
}
/*Main*/

/*Footer*/
footer p{
    text-align: center;
    text-decoration: none;
    
}
/*Footer*/