/* Player Styles */

#player {
    width: 334px;
    margin: auto;
    box-shadow: 1px 5px 5px #888888;
}

#player-top {
    padding: 10px;
    height: 55px;
    background-color: white;
}

#player-art {
    padding-left: 5px;
    padding-top: 5px;
    background-color: white;
}

#slash {
    color: #3b3b3b;
    font-size: 12px;
    font-weight: bold;
    text-shadow: 1px 1px #ffffff;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    margin-top: 20px;
}

#track-info-container {
    float: left;
    font-size: 10px;
    width: 170px;
    overflow: hidden;
    margin-left: 10px;
}

#time-info-container {
    float: left;
    margin-top: 15px;
    font-size: 10px;
    line-height: 19px;
}

#player-bottom {
    background-color: white;
    height: 45px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.control {
    width: 70px;
    height: 35px;
    float: left;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #3b3b3b;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    padding: 5px;
    line-height: 35px;
    cursor: pointer;
}

.control:nth-child(2) {
    border-left: 2px solid #ccc;
    border-right: 2px solid #ccc;
}

.control:nth-child(3) {
    border-right: 2px solid #ccc;
}

#shuffle-on-image {
    display: none;
}

#player-playlist {
    height: 200px;
    width: 100%;
    background-color: black;
    display: none;
    color: white;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 11px;
    overflow: scroll;
}

.playlist-song {
    clear: both;
    float: left;
    margin-bottom: 3px;
    width: 100%;
}

.playlist-song:hover {
    background-color: #333;
    cursor: pointer;
}

.playlist-song-album-art {
    float: left;
}

.playlist-song-album-art img {
    width: 50px;
    height: 50px;
}

.playlist-song-information {
    float: left;
    margin-left: 10px;
}


/* Amplitude Element Styles */

#amplitude-play-pause {
    width: 58px;
    height: 59px;
    cursor: pointer;
    float: left;
}

.amplitude-paused {
    background-image: url('../images/yellow-play.png');
    background-repeat: no-repeat;
}

.amplitude-playing {
    background-image: url('../images/yellow-pause.png');
    background-repeat: no-repeat;
}

#amplitude-now-playing-artist {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 14px;
}

#amplitude-now-playing-title {
    color: #3b3b3b;
    font-size: 12px;
    font-weight: bold;
    text-shadow: 1px 1px #ffffff;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    margin-top: 20px;
}

#amplitude-current-time {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#amplitude-audio-duration {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#amplitude-song-slider {
    display: inline-block;
    height: 10px;
    border-radius: 5px;
    width: 220px;
    background-color: rgba(237, 237, 237, .8);
    margin-left: 10px;
    margin-top: 5px;
}

#amplitude-track-progress {
    background-color: #fad52c;
    height: 10px;
    border-radius: 5px;
    width: 0px;
}

#amplitude-album-art {
    width: 324px;
    height: 324px;
}

.amplitude-album-art-image {
    width: 324px;
    height: 324px;
}

.amplitude-play-playlist {
    float: left;
    cursor: pointer;
    margin-top: 13px;
    margin-left: 70px;
    width: 12px;
    height: 15px;
    background-image: url('../images/yellow-play-small.png');
    background-repeat: no-repeat;
}

.amplitude-now-playing {
    background-color: #555;
}

#amplitude-album-art {
    background-image: url(../img/photo2.jpg);
    background-size: cover;
}

footer {
    background: var(--dark);
    color: var(--light);
    text-align: center;
    padding: 1rem;
}

@media (min-width: 1300px) {
    .container {
        width: 1200px;
        margin: 0 auto;
        position: relative;
    }
}

@media (max-width: 930px) {
    .main-nav {
        display: none;
    }
    .top-container {
        margin-top: 100px;
    }
    .main-nav ul {
        grid-template-columns: 1fr;
    }
    .info {
        grid-template-columns: 1fr;
    }
    .info a {
        display: block;
        text-align: center;
        margin: auto;
    }
}

@media (max-width: 536px) {
    .top-box-a {
        grid-template-columns: repeat(2, 1fr);
    }
    .top-box-a .date {
        grid-column: 1/ 3;
        justify-items: center;
        align-self: center;
    }
    header {
        display: flex;
    }
    body {
        margin: 0px 30px;
    }
}

@media(max-width: 433px) {
    body {
        margin: 0px;
    }
}

.footer-dark {
    padding: 50px 0;
    color: #f0f9ff;
    background-color: #282d32;
}

.footer-dark h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
}

.footer-dark ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
}

.footer-dark ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.6;
}

.footer-dark ul a:hover {
    opacity: 0.8;
}

@media (max-width:767px) {
    .footer-dark .item:not(.social) {
        text-align: center;
        padding-bottom: 20px;
    }
}

.footer-dark .item.text {
    margin-bottom: 36px;
}

@media (max-width:767px) {
    .footer-dark .item.text {
        margin-bottom: 0;
    }
}

.footer-dark .item.text p {
    opacity: 0.6;
    margin-bottom: 0;
}

.footer-dark .item.social {
    text-align: center;
}

@media (max-width:991px) {
    .footer-dark .item.social {
        text-align: center;
        margin-top: 20px;
    }
}

.footer-dark .item.social>a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
    margin: 0 8px;
    color: #fff;
    opacity: 0.75;
}

.footer-dark .item.social>a:hover {
    opacity: 0.9;
}

.footer-dark .copyright {
    text-align: center;
    padding-top: 24px;
    opacity: 0.3;
    font-size: 13px;
    margin-bottom: 0;
}