

/*image de fond pour le site web*/
body {
    color:black;
    background-color:black;

}

/*header*/

header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position:fixed; /* NE PAS OUBLIER LES COORDONNEES top ET left */
    top:0;
    left:0;
    width:100%;
    opacity:1;
    padding:25px;
    height:100px;
    transition: all 0.5s linear;
    background-color:#181616;
    z-index: 999 ;
}



#titre_principal
{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#logo img
{
    width: 59px;
    height: 60px;
}

header h1
{
    font-size: 2.5em;
    font-weight: normal;
    margin: 0 0 0 10px;
}

header h2
{
    font-size: 1.1em;
    margin-top: 0px;
    font-weight: normal;
}

.navigation {
    padding-top: 130px;
    margin-right: 0;
    margin-left: 0;
}


/* Navigation */

nav ul
{
    list-style-type: none;
    display: flex;
    padding: 0px;
}

nav li
{
    margin-right: 35px;
}

nav a
{
    font-size: 1.3em;
    color: white;
    padding-bottom: 3px;
    text-decoration: none;
}


nav a:hover
{
    color: #f1393c;
    border-bottom: 3px solid #f1393c;
}

